.email {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  width: 100%;
}

.email_header {
  font-size: 30px;
  padding: 20px 30px;
  font-weight: bolder;
}

.email_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  border: 1px solid black;
}

.email_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.btn_submit {
  background-color: #2373e1;
  border: none;
  border-radius: 5px;
  padding: 8px;
}
